#albumContainer{
    margin-top: 4vh;
    height: auto;
}

.album {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.album img{
    width: 180px;
}
.album span{
    color: white;
}


.explorBox{
    display: flex;
    flex-direction: row;
    background-color: red;

    padding: 1.5rem;

    color: white;

    margin-top: 2vh;
}

.explorBox span{
    margin-right: 5%;
}

.explorBox img{
    width: 105px;
}
