:root{
    /*SVG colors*/
    /*https://codepen.io/sosuke/pen/Pjoqqp*/
    --color-primary: #5674ff;
    --color-ezkerreko: #111117;
    --color-eskubiko: #060608;
    --color-artist: #1a1a21;
}


*{
    margin: 0;
}

html, body {
    height: 100%;
    margin: 0;
}

.container-fluid {
    height: 100%;
}


#ezkerrekoMenua{
    background-color: var(--color-ezkerreko);
}

#eskubikoMenua{
    background-color: var(--color-ezkerreko);
}





#menukoObjetuak a {
    display: flex;
    align-items: center; 
    /*justify-content: center;*/
    padding: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#menukoObjetuak p{

    margin-top: 3rem;

    display: flex;
    color: #94949f;
    font-weight: bold;
    justify-content: start;
}

#menukoObjetuak a img {
    height: 25px;
    width: auto;
    margin-right: 8px; 
    filter: invert(100%) sepia(1%) saturate(0%) hue-rotate(184deg) brightness(114%) contrast(100%);
}

#menukoObjetuak a p {
    color: white;
    margin: 0;
}

#menukoObjetuak a:focus p,
#menukoObjetuak a:hover p {
    color: var(--color-primary);
}

#menukoObjetuak a:focus img,
#menukoObjetuak a:hover img {
    filter: invert(41%) sepia(72%) saturate(2083%) hue-rotate(214deg) brightness(97%) contrast(108%);
}

@media (max-width: 768px) {
    #menukoObjetuak a {
        justify-content: flex-start; 
        padding: 15px;
        width: 100%; 
    }
    
    #menukoObjetuak a img {
        margin-right: 10px; 
    }
}
