:root{
    /*SVG colors*/
    /*https://codepen.io/sosuke/pen/Pjoqqp*/
    --color-primary: #5674ff;
    --color-ezkerreko: #111117;
    --color-eskubiko: #060608;
    --color-artist: #1a1a21;
}


*{
    margin: 0;
}

html, body {
    height: 100%;
    margin: 0;
}

.container-fluid {
    height: 100%;
}


#ezkerrekoMenua{
    background-color: var(--color-eskubiko);
}

#eskubikoMenua{
    background-color: var(--color-back);
}




#menukoObjetuak a{

    display: flex;
    justify-content: center;

    text-decoration: none;
    

    
    color: rgb(255, 255, 255);
}
#menukoObjetuak a img {
    height: 25px;
    width: auto;
    filter: invert(100%) sepia(1%) saturate(0%) hue-rotate(184deg) brightness(114%) contrast(100%);    

}

#menukoObjetuak a p{
    color: white;

    margin: 0;
}

#menukoObjetuak a:focus p,
#menukoObjetuak a:hover p {
    color: var(--color-primary);
}

#menukoObjetuak a:focus img,
#menukoObjetuak a:hover img {
    filter: invert(41%) sepia(72%) saturate(2083%) hue-rotate(214deg) brightness(97%) contrast(108%);
}
