#guztia{
    display: grid;

    grid-template-rows: auto auto auto auto;

}


/*********MENUA***********/
#menua{
    grid-row: 1;

    display: grid;

    grid-template-columns: auto auto;

    justify-content: space-around;

    width: 100%;

    align-items: center;

    justify-items: end;
}

#link{
    grid-column: 3;

    

    width: 144%;
}

.zelda{
    color: black;
    text-decoration:  none;
    margin-right: 5%;

    text-align: end;
}

.zelda:hover{
    background-color: #6084fc;
    padding: 1rem;
}

@media (max-width: 810px) {
    /*#menua{
        background-color: red;
    }*/

    #link{
        width: 100%;
    }
}

@media (max-width: 690px){
    #menua{
        
        grid-template-rows: auto auto;
    }

    #link{
        grid-column: 1;
        grid-row: 3;
    
    }
}

@media (max-width: 375px){
    #menua{
        justify-content: start;
        grid-template-columns: auto auto;
    }

    #logo{
        grid-column: 1;
        grid-row: 1;
    }
    #link{
        grid-column: 1;
        grid-row: 3;
    
    }
}


/*********FILAK***********/

#filak{
    grid-row: 2;

    display:  grid;

    /*grid-template-columns: auto auto auto;*/
    
}

.colum12{
    width: 41.38%;

}

#colum1{
    
    grid-column: 1;
    background-color: dimgray;
}

#colum2{
    
    grid-column: 2;
    background-color: rgb(153, 153, 153);
}

#colum3{
    grid-column: 3;
    width: 300px;

    background-color: #ff6347;
}

#filak h2,h3{
    text-align: center;
}

#colum3{
    display: grid;
    justify-items: center;
}
#filak img,video{
    width: 250px;
    height: auto;
}

#filak video{
    padding-bottom: 1rem;
}

#filak p{
    text-align: justify;
    padding: 1rem;
}




@media (max-width: 810px) {
    #colum1{
    
        grid-column: 1;
        background-color: dimgray;

        width: 100%;
    }
    
    #colum2{
        
        grid-column: 1;
        background-color: rgb(153, 153, 153);
    }
    
    #colum3{
        grid-column: 1;
        width: 100%;
    
        background-color: #ff6347;
    }

    .colum12{
        width: 100px;
    
    }
}

@media (max-width: 501px) {
    #colum1{
    
        grid-column: 1;
        background-color: dimgray;

        width: 501px;
    }
    
    #colum2{
        width: 501px;
        grid-column: 1;
        background-color: rgb(153, 153, 153);
    }
    
    #colum3{
        grid-column: 1;
        width: 501px;
    
        background-color: #ff6347;
    }

    
}

@media (max-width: 375px) {
    #colum1{
    
        grid-column: 1;
        background-color: dimgray;

        width: 375px;
    }
    
    #colum2{
        width: 375px;
        grid-column: 1;
        background-color: rgb(153, 153, 153);
    }
    
    #colum3{
        grid-column: 1;
        width: 375px;
    
        background-color: #ff6347;
    }

    
}



/*********CURSOS***********/
#cursos{
    display: flex;
    flex-direction: column;
    align-items: center;

}

#cursosBody{
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    margin-right: 1rem;
    
}

#cursosBody h3{
    text-align: start;   
}

.curso{
    width: 98%;
    margin: 2%;
    display: flex;
    flex-direction: column;
}

.curso img{
    width: auto;
    height: auto;
}

.curso #nota{
    width: 69px;
    height: auto;
}

#erosi{
    width: 95%;
    background-color: rgb(41, 159, 255);
    color: white;

    text-align: center;
    padding: 1rem;

    text-decoration: none;
}

#erosi:hover{
    background-color: rgb(69, 171, 255);
}



@media (max-width: 810px) {
    #cursosBody{
    
        flex-wrap: wrap;
    }
    .curso{
        width: 98%;
        margin: 2%;

        margin-right: 0;
        
    }
    
    
}

/*********FOOTER***********/

#footer{
    background-color: #6084fc;

    display: grid;

    justify-items: center;
}

.negrita{
    font-weight: bold;
}




