.btn-primary {
  width: 100%;
  margin-bottom: 1rem;
  background-color: #3e5151;
}

.btn-primary:hover {
  background-color: transparent;
  color: black;
}

.btn {
  border-color: #3e5151;
}

.btn:hover {
  border-color: transparent;
}
