
body{
    display: flex;
    justify-content: center;
}
#gorpua{
    width: 1024px;
    height: 100vh;
    /*background-color: red;*/
}

/***************MENUA********************/

#menua{
    display: flex;
    flex-direction: row;

    justify-content: space-around;

    align-items: center;
}

ul{
    display: flex;
    flex-direction: row;
    
    flex-wrap: wrap;

    text-decoration: none;

    list-style: none;

    width: 65%;
}

li{
    text-decoration: none;

    margin-left: 2%;
}

ul li a {
    text-decoration: none;
    color: black;

    padding: 1rem;
    
}

ul li a:hover {
    text-decoration: none;
    color: black;

    background-color: #6084fc;
    color: white;
    
}


@media (max-width: 810px) {
    ul{
        display: flex;
        flex-direction: row;
        
        flex-wrap: wrap;
    
        text-decoration: none;
    
        list-style: none;
    
        width: 65%;

        justify-content: end;
    }
}

@media (max-width: 375px) {
    #menua{
        display: flex;
        flex-direction: column;
    
        justify-content: space-around;
    
        align-items: center;
    }

    ul{
        display: flex;
        flex-direction: column;
        
        flex-wrap: wrap;
    
        text-decoration: none;
    
        list-style: none;
    
        width: 65%;

        justify-content: center;

        align-items: center;
    }

    ul li{
        margin-top: 2vh;

        
    }
}



/***************Kolumnak********************/


#kolumak{
    margin: 3px;
    display: flex;
    flex-direction: row;
    
}

.biak{
    width: 35.15625%;
}

.hirurak{
    display: flex;
    flex-direction: column;

    align-items: center;
}

.hirurak p{
    text-align: justify;
    margin: 10px;
}

#lehenengoa{
    background-color: #AAAAAA;
}

#bigarrena{
    background-color: #BBBBBB;
}

#hirugarrena{
    background-color: #ff6347;

    width: 29.6875%;
}

#hirugarrena img,video{
    width: 250px;
    height: auto;
}

#hirugarrena video{
    margin-bottom: 2vh;
}


@media (max-width: 810px) {
    #kolumak{
        margin: 3px;
        display: flex;
        flex-direction: column;
        
    }

    .hirurak{
        width: 100%;
    }

    #hirugarrena{
        width: 100%;
    }
}


/***************Kurtsoak********************/

#kurtsoak{
    display: grid;
    grid-template-columns: auto auto auto;
}

#kurtso1{
    grid-column: 1;
}

#kurtso2{
    grid-column: 2;
}

#kurtso3{
    grid-column: 3;
}

.kurtsoIrudi{
    width: 100%;
    height: auto;
}

.kurtso{
    padding: 0.2rem;
}

.proba{
    border: 1px solid black;

}

.izarrak{
    width: 25%;
    height: auto;
}

.karrito{
    width: 100%;
    padding: 0.5rem;
    color: white;

    background-color: #33C3F0;
}

.karrito:hover{
    background-color: rgb(35, 135, 165);
}

@media (max-width: 375px) {
    #kurtsoak{
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: auto;

    }

    #kurtso1{
        grid-row: 1;
    }
    
    #kurtso2{
        grid-row: 2;
    }
    
    #kurtso3{
        grid-row: 3;
    }

}


/***************Fotoer********************/

#behekalde{
    background-color: #6084fc;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 1vh;
    margin-bottom: 2vh;
}

.lodia{

    padding: 0;
    margin: 0;

    font-weight: bold;
}