div{
    margin-bottom: 2rem;
}
#menua{
    background-color: rgb(63, 63, 63);
    padding: 0.5rem;
    
}

#menua a{
    text-decoration: none;
    color: white;
    margin-right: 1rem;
    text-align: center;
}

#irudiZona{
    display: flex;
}

#lurra{
    padding-right: 20rem;
}

#ang{
    text-align: center;
    font-weight: bold;
}

#taula table{
    width: 10%;
}