body {
    max-width: 1020px;
    margin: auto;
}

#menua{
    display: flex;

    flex-direction: row;

    justify-content: space-between;

    align-items: center;
}

#menua img{
    width: auto;
    height: 100px;

}


#linkak {

   margin-right: 20%;
}
#menua ul{
    display: flex;


    flex-direction: row;
    align-items: center;


}

#menua ul li{
    
    list-style: none;

    margin-right: 8%;

    padding: 5px;
}
#menua ul li:hover{
    background-color: #6084fc;
    color: white;
}

@media (max-width: 810px) {
    #linkak{
        margin-right: 0;
    }
    ul{
        flex-wrap: wrap;
    }
}

@media (max-width: 375px) {
    #menua{
        
    
        flex-direction: column;
    
        
    }
    #menua ul{
        flex-direction: column;
    
    }
    #menua ul li{    
        margin-right: 0;
       
    }
}

/*****************************BLOKEAK********************************/

#blokeak{
    display: flex;
    flex-direction: row;
}

.biak{
    width: 35.15625%;
}
#lehenengoa{
    background-color: beige;
}
#bigarrena{
    background-color: burlywood;
}
#hirugarrena{
    width: 300px;
    background-color: #ff6347;
}

#blokeak div h1{
    text-align: center;
}

#blokeak div p{
    text-align: justify;
    margin: 16px;
}

#hirugarrena{
    display: flex;

    flex-direction: column;

    align-items: center;
}

#hirugarrena img,video{
    height: auto;
    width:250px;

    margin-bottom: 15px;
}

@media (max-width: 375px) {
    #blokeak{
        flex-direction: column;
    }

    .biak{
        width: 100%;
    }

    #hirugarrena{
        width: 100%;
        background-color: #ff6347;
    }
}

/*****************************CURSOS********************************/


#gorpua{
    display: grid;

    justify-content: space-between;
    grid-template-columns: auto auto auto;
}
#kurtsoak h1{
    text-align: center;
}

.kurtso{
    width: 330px;
    border: 1px solid black;


}

.kurtso img{
    width: 100%;
   
}

.kurtso div{
    margin: 20px;
   
}

.kurtso div img{
    width: 100px;   
}

.kurtso div h4,p{
    margin: 0;   
}

.kurtso div input{
    width: 100%; 
    background-color: rgb(38, 160, 160);
    color: white;
    border: none;
    padding: 10px;
}

@media (max-width: 810px) {
    .kurtso{
        width: 280px;
        
    }
}

@media (max-width: 375) {

    #gorpua{
        grid-template-columns: auto;

        grid-template-rows: auto auto auto;
    }
    .kurtso{
        width: 100%;
        
    }
}


/*****************************FOOTER********************************/

#footer{
    margin-top: 3vh;
    background-color: #6084fc;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#footer div span{
    font-weight: bold;

}