body{
    background: rgb(202,188,154);
    background: linear-gradient(90deg, rgba(202,188,154,1) 0%, rgba(82,96,91,1) 100%); 
}

.row{
    margin-top: 1rem;
    margin-left: 3rem;
}

.col-sm-4 img{
    margin-left: auto !important;
    margin-right: auto !important;


    box-shadow: 10px 5px 5px black;
    border-radius: 100%;

    max-width: 3rem;
    max-height: 3rem;
}